### Código utilizado en el video:
https://youtu.be/JSfzdYLqaAE

In [ ]:
import pandas as pd

In [ ]:
bitcoin_df = pd.read_csv('BTC-USD.csv',usecols = ['Date','Close','Volume'], index_col='Date')
print(bitcoin_df)

                   Close       Volume
Date
2019-07-14  10256.058594  22486000001
2019-07-15  10895.089844  25384047207
2019-07-16   9477.641602  24151199070
2019-07-17   9693.802734  24569921549
2019-07-18  10666.482422  25187024648
...                  ...          ...
2022-07-10  20860.449219  28688807249
2022-07-11  19970.556641  24150249025
2022-07-12  19323.914063  25810220018
2022-07-13  20212.074219  33042430345
2022-07-14  20569.919922  31158743333

[1097 rows x 2 columns]

In [ ]:
bitcoin_df.head()

                   Close       Volume
Date
2019-07-14  10256.058594  22486000001
2019-07-15  10895.089844  25384047207
2019-07-16   9477.641602  24151199070
2019-07-17   9693.802734  24569921549
2019-07-18  10666.482422  25187024648

In [ ]:
bitcoin_df.head(8)

                   Close       Volume
Date
2019-07-14  10256.058594  22486000001
2019-07-15  10895.089844  25384047207
2019-07-16   9477.641602  24151199070
2019-07-17   9693.802734  24569921549
2019-07-18  10666.482422  25187024648
2019-07-19  10530.732422  20727426310
2019-07-20  10767.139648  20206615155
2019-07-21  10599.105469  17130580467

In [ ]:
bitcoin_df.tail()

                   Close       Volume
Date
2022-07-10  20860.449219  28688807249
2022-07-11  19970.556641  24150249025
2022-07-12  19323.914063  25810220018
2022-07-13  20212.074219  33042430345
2022-07-14  20569.919922  31158743333

In [ ]:
bitcoin_df.tail(7)

                   Close       Volume
Date
2022-07-08  21731.117188  49899834488
2022-07-09  21592.207031  29641127858
2022-07-10  20860.449219  28688807249
2022-07-11  19970.556641  24150249025
2022-07-12  19323.914063  25810220018
2022-07-13  20212.074219  33042430345
2022-07-14  20569.919922  31158743333

In [ ]:
bitcoin_df.shape

(1097, 2)

In [ ]:
bitcoin_df.size

2194

In [ ]:
bitcoin_df.dtypes

Close     float64
Volume      int64
dtype: object

In [ ]:
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1097 entries, 2019-07-14 to 2022-07-14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1097 non-null   float64
 1   Volume  1097 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 25.7+ KB

In [ ]:
bitcoin_df.isnull().values.any()

False

In [ ]:
bitcoin_df['Close'].describe()

count     1097.000000
mean     27242.660633
std      18375.258693
min       4970.788086
25%       9608.475586
50%      21592.207031
75%      42892.957031
max      67566.828125
Name: Close, dtype: float64

In [ ]:
bitcoin_df.columns

Index(['Close', 'Volume'], dtype='object')

In [ ]:
bitcoin_df.sample()

                   Close       Volume
Date
2021-03-19  58346.652344  49063873786

In [ ]:
bitcoin_df.loc['2019-07-14']['Close']

10256.058594

In [ ]:
bitcoin_df.loc['2022-07-14']['Close']

20569.919922

In [ ]:
bitcoin_df.iloc[0]['Close']

10256.058594

In [ ]:
bitcoin_df.iloc[1096]['Close']

20569.919922