### Código utilizado en el video:
https://youtu.be/kmGp0otLy44

# <center>Lectura de Archivos</center>

Documentación Oficial:<br>
    https://pandas.pydata.org/docs/reference/io.html

In [ ]:
import pandas as pd

# Archivos CSV

In [ ]:
dataframe1 = pd.read_csv('BTC-USD.csv')
print(dataframe1)

           Date          Open          High           Low         Close  \
0    2021-07-10  33811.242188  34209.070313  33116.011719  33520.519531
1    2021-07-11  33509.078125  34584.703125  33346.738281  34240.187500
2    2021-07-12  34254.015625  34592.156250  32697.308594  33155.847656
3    2021-07-13  33125.468750  33327.101563  32261.419922  32702.025391
4    2021-07-14  32723.845703  33061.398438  31639.125000  32822.347656
..          ...           ...           ...           ...           ...
361  2022-07-06  20194.619141  20595.529297  19823.511719  20548.246094
362  2022-07-07  20547.814453  21771.816406  20296.103516  21637.587891
363  2022-07-08  21637.154297  22314.941406  21257.453125  21731.117188
364  2022-07-09  21716.828125  21877.138672  21445.957031  21592.207031
365  2022-07-10  21589.587891  21589.587891  20749.443359  20898.460938

        Adj Close       Volume
0    33520.519531  22971873468
1    34240.187500  20108729370
2    33155.847656  24321499537
3    32702.025391  19120856669
4    32822.347656  21376531210
..            ...          ...
361  20548.246094  24598943708
362  21637.587891  25814972520
363  21731.117188  49899834488
364  21592.207031  29641127858
365  20898.460938  28434771968

[366 rows x 7 columns]

In [ ]:
print(type(dataframe1))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
dataframe1 = pd.read_csv('BTC-USD.csv',usecols = ['Date','Close','Volume'])
print(dataframe1)

           Date         Close       Volume
0    2021-07-10  33520.519531  22971873468
1    2021-07-11  34240.187500  20108729370
2    2021-07-12  33155.847656  24321499537
3    2021-07-13  32702.025391  19120856669
4    2021-07-14  32822.347656  21376531210
..          ...           ...          ...
361  2022-07-06  20548.246094  24598943708
362  2022-07-07  21637.587891  25814972520
363  2022-07-08  21731.117188  49899834488
364  2022-07-09  21592.207031  29641127858
365  2022-07-10  20898.460938  28434771968

[366 rows x 3 columns]

In [ ]:
dataframe1 = pd.read_csv('BTC-USD.csv',usecols = ['Date','Close','Volume'], index_col='Date')
print(dataframe1)

                   Close       Volume
Date
2021-07-10  33520.519531  22971873468
2021-07-11  34240.187500  20108729370
2021-07-12  33155.847656  24321499537
2021-07-13  32702.025391  19120856669
2021-07-14  32822.347656  21376531210
...                  ...          ...
2022-07-06  20548.246094  24598943708
2022-07-07  21637.587891  25814972520
2022-07-08  21731.117188  49899834488
2022-07-09  21592.207031  29641127858
2022-07-10  20898.460938  28434771968

[366 rows x 2 columns]

# Archivos de Excel

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls')
print(dataframe2)

    Unnamed: 0                        Gross domestic product 2021  Unnamed: 2  \
0          NaN                                                NaN         NaN
1          NaN                                                NaN         NaN
2          NaN                                            Ranking         NaN
3          NaN                                                NaN         NaN
4          USA                                                  1         NaN
..         ...                                                ...         ...
239        NaN  .. Not available.  \nNote: Rankings include on...         NaN
240        NaN                                                NaN         NaN
241        NaN                                                NaN         NaN
242        NaN  GDP data source: http://data.worldbank.org/dat...         NaN
243        NaN  GDP projections:  http://data.worldbank.org/da...         NaN

        Unnamed: 3    Unnamed: 4 Unnamed: 5
0              NaN           NaN        NaN
1              NaN  (millions of        NaN
2          Economy   US dollars)        NaN
3              NaN           NaN        NaN
4    United States      22996100        NaN
..             ...           ...        ...
239            NaN           NaN        NaN
240            NaN           NaN        NaN
241            NaN           NaN        NaN
242            NaN           NaN        NaN
243            NaN           NaN        NaN

[244 rows x 6 columns]

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls',
                           header=3)
print(dataframe2)

    Unnamed: 0                                            Ranking  Unnamed: 2  \
0          NaN                                                NaN         NaN
1          USA                                                  1         NaN
2          CHN                                                  2         NaN
3          JPN                                                  3         NaN
4          DEU                                                  4         NaN
..         ...                                                ...         ...
236        NaN  .. Not available.  \nNote: Rankings include on...         NaN
237        NaN                                                NaN         NaN
238        NaN                                                NaN         NaN
239        NaN  GDP data source: http://data.worldbank.org/dat...         NaN
240        NaN  GDP projections:  http://data.worldbank.org/da...         NaN

           Economy   US dollars) Unnamed: 5
0              NaN           NaN        NaN
1    United States  2.299610e+07        NaN
2            China  1.773406e+07        NaN
3            Japan  4.937422e+06        NaN
4          Germany  4.223116e+06        NaN
..             ...           ...        ...
236            NaN           NaN        NaN
237            NaN           NaN        NaN
238            NaN           NaN        NaN
239            NaN           NaN        NaN
240            NaN           NaN        NaN

[241 rows x 6 columns]

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls',
                           header=3,
                          index_col=0)
print(dataframe2)

                                               Ranking  Unnamed: 2  \
NaN                                                NaN         NaN
USA                                                  1         NaN
CHN                                                  2         NaN
JPN                                                  3         NaN
DEU                                                  4         NaN
..                                                 ...         ...
NaN  .. Not available.  \nNote: Rankings include on...         NaN
NaN                                                NaN         NaN
NaN                                                NaN         NaN
NaN  GDP data source: http://data.worldbank.org/dat...         NaN
NaN  GDP projections:  http://data.worldbank.org/da...         NaN

           Economy   US dollars) Unnamed: 5
NaN            NaN           NaN        NaN
USA  United States  2.299610e+07        NaN
CHN          China  1.773406e+07        NaN
JPN          Japan  4.937422e+06        NaN
DEU        Germany  4.223116e+06        NaN
..             ...           ...        ...
NaN            NaN           NaN        NaN
NaN            NaN           NaN        NaN
NaN            NaN           NaN        NaN
NaN            NaN           NaN        NaN
NaN            NaN           NaN        NaN

[241 rows x 5 columns]

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls',
                           header=3,
                          index_col=0,
                          usecols=[0,1,3,4])
print(dataframe2)

                                               Ranking        Economy  \
NaN                                                NaN            NaN
USA                                                  1  United States
CHN                                                  2          China
JPN                                                  3          Japan
DEU                                                  4        Germany
..                                                 ...            ...
NaN  .. Not available.  \nNote: Rankings include on...            NaN
NaN                                                NaN            NaN
NaN                                                NaN            NaN
NaN  GDP data source: http://data.worldbank.org/dat...            NaN
NaN  GDP projections:  http://data.worldbank.org/da...            NaN

      US dollars)
NaN           NaN
USA  2.299610e+07
CHN  1.773406e+07
JPN  4.937422e+06
DEU  4.223116e+06
..            ...
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN

[241 rows x 3 columns]

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls',
                          header=3,
                          index_col=0,
                          usecols=[0,1,3,4],
                          nrows=218)
print(dataframe2)

     Ranking                    Economy   US dollars)
NaN      NaN                        NaN           NaN
USA      1.0              United States  2.299610e+07
CHN      2.0                      China  1.773406e+07
JPN      3.0                      Japan  4.937422e+06
DEU      4.0                    Germany  4.223116e+06
..       ...                        ...           ...
SXM      NaN  Sint Maarten (Dutch part)  0.000000e+00
SSD      NaN                South Sudan  0.000000e+00
MAF      NaN   St. Martin (French part)  0.000000e+00
SYR      NaN       Syrian Arab Republic  0.000000e+00
VEN      NaN              Venezuela, RB  0.000000e+00

[218 rows x 3 columns]

In [ ]:
dataframe2 = pd.read_excel('https://databank.worldbank.org/data/download/GDP.xls',                        
                            skiprows=[0,1,2,4],
                            index_col=0,
                            usecols=[0,1,3,4],
                            nrows=218,
                          )
print(dataframe2)

     Ranking                   Economy   US dollars)
USA      1.0             United States  2.299610e+07
CHN      2.0                     China  1.773406e+07
JPN      3.0                     Japan  4.937422e+06
DEU      4.0                   Germany  4.223116e+06
GBR      5.0            United Kingdom  3.186860e+06
..       ...                       ...           ...
SSD      NaN               South Sudan  0.000000e+00
MAF      NaN  St. Martin (French part)  0.000000e+00
SYR      NaN      Syrian Arab Republic  0.000000e+00
VEN      NaN             Venezuela, RB  0.000000e+00
NaN      NaN                       NaN           NaN

[218 rows x 3 columns]

# Portapapeles

In [ ]:
dataframe3 = pd.read_clipboard()
print(dataframe3)

     NOMBRE         CARRERA   AÑO
0   Luciana      Ingeniería  2021
1  Santiago           RR II  2013
2     Paola         Turismo  2014
3    Carlos        Abogacía  2022
4  Jonathan        Medicina  2018
5  Gabriela  Administración  2019
6  Ezequiel        Contador  2017